
<h1>Your Issues</h1>

<a href="/add">Click here to Add New Item</a>

<ol>
    {{#each petInDbObj}}
    <li>
        <a href ="/{{_id}}">{{name}}</a>
        <a href ="/{{_id}}">{{hourStart}}</a>
    </li>
    {{/each}}
</ol>