<form method="POST" action="/post">

  <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  --->
 <h1>Add a new Pet Issue</h1>
  <label for="name">Pet Name</label>
  <input type="text"placeholder="name" name="name" />

  <label for="type">Pet Type</label>
  <input type="text" name="type" />

  <label for="age">Age in Years</label>
  <input type="number" name="age" />

  <label for="gender">Gender</label>
  <input type="string" name="gender" />

  <label for="status">Status</label>
  <input type="string" name="status" />


  <input type ="submit" name="submit" value="Add Pet" />
</form>

<form method="GET" action ="/listAll">
  <input type ="submit" name ="homeBtn" value="Home" />
</form>
