<form method="POST" action="/pet/post">

  <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  --->
  <h1>Add a new Pet</h1>
  <label for="name">Pet Name</label>
  <input type="text"placeholder="name" name="name" />

  <label for="type">Pet Type</label>
    {{!-- <select>
      {{#each petInDbObj}}
        <option value="Cat">Cat</option>
        <option value="Dog">Dog</option>
        <option value="Fish">Fish</option>
        <option value="Other">Other</option>
        {{/each}} --}}
        <input type="text" name="type" placeholder="Cat/Dog/Fish/Other"/>
      {{!-- </select> --}}
  

  <label for="age">Age in Years</label>
  <input type="number" name="age" />

  <label for="gender">Gender</label>
  <input type="text" name="gender" placeholder="Male/Female"/>

  <label for="status">Status</label>
  <input type="text" name="status" placeholder="Adopted/Available" />


  <input type ="submit" name="submit" value="Add Pet" />
</form>


<form method="GET" action ="/listAll">
  <input type ="submit" name ="homeBtn" value="Home" />
</form>
