<!-- 
  This is a template that contains HTML that should appear in every web page that your
  sever generates. This is where you should import script files as well as link to any
  CSS files. 
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Riley's Animal World</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    
</head>
<body>

    <!--
      This is a place holder for the contents of the .hbs file that is
      rendered.
    -->
    {{{body}}}
    {{!-- <div class="containerBg"> testing here
    <div class="petlistCont"></div>
    </div> --}}

</body>
</html>
