<form method="POST" action="/shop/post">

  <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  --->
 <h1>Add a new Shop</h1>
  <label for="name">Shop Name</label>
  <input type="text"name="name" placeholder="Riley's on Peachtree"  />

  <label for="state">State</label>
  <input type="text" name="state" />
  

  <label for="city">City</label>
  <input type="text" name="city" />

  <label for="hourStart">Enter Start Time</label>
  <input type="time" min = "07:00" max = "24:00" 
  name="hourStart" />

  <label for="hourEnd">Enter Closing Time</label>
  <input type="time" min = "07:00" max = "24:00" 
  name="hourEnd" />


  <input type ="submit" name="submit" value="Add Shop" />
</form>



<form method="GET" action ="/listAll">
  <input type ="submit" name ="homeBtn" value="Home" />
</form>
