<form method="POST" action="/sale/post">

  <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  --->
 <h1>Add a new Sale Report</h1>
  <label for="month">Month</label>
  <input type="text"name="month" />

  <label for="year">Year</label>
    <input type="Number" name="year" />
      
  <label for="amount">Amount</label>
  <input type="number" name="amount" />


  <input type ="submit" name="submit" value="Add Sale" />
</form>



<form method="GET" action ="/listAll">
  <input type ="submit" name ="homeBtn" value="Home" />
</form>
